@media only screen and (max-width: 767.98px) {
	/* .main-kthuc .card-kthuc {
		width: 80%;
	} */
	.list-sp-pk>div {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 991.98px){
	.list-rom>div>div {
		height: 45vh;
	}
	.list-rom .tieude-rom {
		margin-top: -10rem;
	}
	.post-review .post-title a {
		font-size: 0.8rem;
	}
	.post-review .price span {
		font-size: 0.7rem;
		font-weight: 850;
	}
	.hd-tieude-rom dt {
		font-size: 0.7rem;
	}
	.bd-tieude-rom a {
		font-size: 0.7rem;
	}
	.main-left-pk {
		display: none;
	}

	.list-sp-pk>div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -1rem;

	}
	.post-slide {
		width: 85%;
	}
	.post-slide .post-img {
		height: 70%;
	}
	.btn-rewiew-shop {
		margin-bottom: 1rem;
	}
	

	.menutop {
		display: none;
	}
	#banner>ul {
		margin-top: -1rem;
	}
	#menu-mobile {
		display: block;
		
	}
	.menu-mobile {
		background-color: #f3f3f3;
		/* height: 20vh; */
	}
	.menu-mobile>div {
		height: 50%;
	}
	.cart-menutop-login img {
		height: 1.8rem;
	}
	.menu-search-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#slide {
		display: none;
	}
	.img-qc-menu {
		display: none;
	}
	.nav-item .nav-link-01 {
		font-size: 1rem;
	}
	.list-unstyled li a {
		font-size: 0.9rem;
	}
		
}

@media only screen and (max-width: 1199.98px){

/* PHAN MENU CHINH */
	.menubotdom>ul {
	/* background-color: aqua; */
	width: 65%;
}
.slide-tn {
	height: 43vh;
}
.carousel-item-slide-tn {
		height: 43vh;
		/* background-color: brown; */
	}
.carousel-item-slide-tn p {
		font-size: 0.7rem;
		margin-top: -1rem;
		/* background-color: aqua; */
	}
.main-top-fter div h3 {
	font-size: 1.1rem;
}
.main-top-fter div ul {
	margin-left: -0.5rem;
}
.main-top-fter div ul li a {
	font-size: 0.8rem;
}
.main-botdom-fter>img {
	margin-top: 3rem;
}
.main-botdom-fter>p {
	font-size: 0.8rem;
}

}

@media only screen and (min-width: 992px) {
	#menu-mobile {
		display: none;
	}
	/* #list-menu-mobile {
		display: none;
	} */
	.show-list-fter {
		display: none;
	}
	
}