body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

*,
::after ::before {
  margin: 0;
  padding: 0;
}
header .container-fluid {
  margin: 0;
  padding: 0;
}
/* SLIDE BANNER */
#banner>ul {
  margin-top: -20vh;
  position: relative;
}
#banner>ul>li {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color:#ff7600;
}
#banner>ul>.active {
  background-color: black;
}
/* MENU TOP */
.menutop {
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 0;
  position: relative;
  /* background-color: aqua; */
  background: rgba(247,246,245,0.6);
  margin-top: -3vh;
  /* opacity: 0.7; */
  /* display: none; */
}
.menutop>div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* input search */
.box {
  height: 40px;
  background-color: #f7f9fa;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.box>input {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 0px;
  transition: 0.8s ease;
  color: orangered;
  font-size: 18px;
  font-weight: 600;
}

.box>input::placeholder {
  color: orange;
  font-size: 1rem;
}

.box>a {
  color: whitesmoke;
  text-align: center;
  width: 60px;
  font-size: 20px;
}

.box>input {
  width: 100%;
  margin: 0 20px;
  border-bottom: 2px solid red;
}

.box>input:focus {
  /* width: 200px; */
  margin: 0 20px;
  border-bottom: 2px solid red;
}
/* logo menu  */
.menutop-logo>img {
  height: 70%;
  width: 80%;
}
/* menutop login */
.menutop-login {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
}
.menutop-login>img {
  width: 8%;
 /* margin-left: -30px; */
 margin-right: 10px;
}
.menutop-login> .action {
  width: 35%;
  height: 80%;
  /* background-color: brown; */
  /* margin-right: 5px; */
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.menutop-login> .action >a {
  margin: 5px;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}
.menutop-login> .action >a:hover {
  text-decoration: none;
  color: #ff0000;
}
.menutop-login> .cart {
  /* background-color: cornflowerblue; */
}
.menutop-login> .cart >a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menutop-login> .cart >a > img {
  width: 60%;
}
.menutop-login> .cart >a > span {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 10px;
}
.menutop-login> .cart >a > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
/* printf cart - thong bao gio hang */
.printf-cart {
  width: 30vh;
  height: 5vh;
  position: absolute;
  margin-top: -5vh;
  margin-left: -10vh;
  background-color: #f7f9fa;
  border-radius: 10px 20px 10px 30px;
  border-top: 2px solid orangered;
  display: none;
}
.printf-cart>p {
 margin-top: 10px;
}
.menutop-login .cart:hover .printf-cart{
  display: block;
  display: flex;
   align-items: center;
   justify-content: center;
}
/* MENU BOTDOM  */
.menubotdom {
  width: 100%;
  height: 10vh;
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* display: none; */
}
.menubotdom>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* position: relative; */
}
.menubotdom>ul>li {
  /* background-color: brown; */
  /* width: inherit; */
  flex-grow: 1;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  /* position: relative; */

}
.menubotdom>ul>li>.active {
  color: #ff0000;
}
.menubotdom>ul>li>a {
  font-size: 1.1rem;
  color: black;
  font-weight: 750;
  transition: 0.4s;
}
.menubotdom>ul>li>a:hover {
  color: #ff0000;
  text-decoration: none;
}
.menubotdom>ul>li>a>.fa-sort-down {
  font-size: 1.2rem;
  margin-left: 5px;
  position: absolute;
  margin-bottom: 10px;
}
/* MENU CON - MENU DA CAP */
.list-sanpham {
  /* position: relative; */
  /* background-color: #ff0000; */
}

.list-sanpham .menu-con {
  height: 50vh;
  /* background-color: aqua; */
  position: absolute;
  z-index: 100;
  margin-top: 60vh;
  display: flex;
  margin-left: 30vh;
  display: none;
}
.list-sanpham:hover .menu-con {
  display: block;
}

.menu-con>div {
  width: inherit;
  height: inherit;
  /* border: 1px solid; */
  border-radius: 10px;
  border-top: 5px solid orangered;
  margin: 0;
  margin-left: 1.2rem;
  background-color: #ccc;
    -moz-box-shadow: 3px 3px   #666;
    -webkit-box-shadow: 3px 3px   #666;
    box-shadow: inset 10px 10px 5px #666, 10px 10px 5px #666;
}
.menu-con>div>div {
  /* border: 1px solid; */
  margin-top: 5px;
}
.list-menu-con>div>a>span {
  font-size: 1rem;
  font-weight: 700;
  color: black;
  transition: 0.3s;
}
.list-menu-con>div>a>span:hover {
  color: #ff0000;
}
.list-menu-con>div>a:hover {
  text-decoration: none;
}
.list-menu-con>div>ul {
  /* background-color: #ff7600; */
}
.list-menu-con>div>ul>li {
  list-style: none;
  margin: 0.5rem;
  margin-left: -2rem;
}
.list-menu-con>div>ul>li>a {
  font-size: 0.9rem;
  color: #737373;
  font-weight: 500;
  transition: 0.3s;
}
.list-menu-con>div>ul>li>a:hover{
  color: rgb(24, 4, 4);
  text-decoration: none;
  font-weight: 600;
}
.list-menu-con>div>img {
  width: 100%;
  /* height: 100%; */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s;
}
/* MAIN */
#list-rom {
  /* height: 100vh; */
  background-color: #f3f3f3;
  /* display: none; */
}
.list-rom {
  /* height: 60vh; */
  /* background-color: burlywood; */
}
.list-rom>div {
  /* border: 1px solid; */
  /* height: inherit; */
  display: flex; /* margin-top: 2rem; */
}
.list-rom>div>div {
  /* border: 1px solid; */
  margin-top: 1rem;
  height: 60vh;
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;
}
.list-rom img {
  width: 100%;
  height: 100%;
}
.list-rom .tieude-rom {
  width: 60%;
  height: 20%;
  background-color: #ffffff;
  position: absolute;
  margin-top: -23rem;
  transition: width 1s;
  }
 .hd-tieude-rom {
   display: flex;
   /* background-color: #ff7600; */
   height: 40%;
 }
 .hd-tieude-rom>div {
   width: 20%;
   border-bottom: 2px solid black;
 }
 .hd-tieude-rom>dt {
   margin-top: 0.8rem;
   margin-left: 1rem;
   color: black;
   font-weight: 750;
   transition: 1s;
 }
 .bd-tieude-rom {
   /* background-color: aqua; */
   height: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .bd-tieude-rom>a {
   color: black;
 }
 .tieude-rom:hover{
   width: 70%;
 }

 .img-hover-zoom {
  overflow: hidden; 
  height: inherit;
  border-radius: 5px;
}
.img-hover-zoom--brightness img {
  transition: transform 0.7s, filter 0.7s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}
.img-hover-zoom:hover .hd-tieude-rom>dt {
  color: #ff0000;
}
.img-hover-zoom:hover .bd-tieude-rom>a {
  font-weight: 500;
  text-decoration: none;
  color: green;
}
/* SAN PHẨM MỚI  */
#sanphammoi {
  /* height: 100vh; */
  background-color: #f3f3f3;
  /* margin-bottom: 5vh; */
}
.tieude-spmoi {
  height: 10vh;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.tieude-spmoi h2 {
   color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 5px 12px 5px 20px;
    position:absolute;
    display: inline-block;
    letter-spacing: normal;
    background: #ff7600;
    text-align: center;
    z-index: 10;
}
.tieude-spmoi h2 a {
  color: #fff;
  font-size: 1.3rem;
}
.tieude-spmoi h2 a:hover {
  text-decoration: none;
}
.tieude-spmoi h2::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 16px 23px 0;
    border-color: transparent #ff7600 transparent transparent;
    position: absolute;
    left: -16px;
    top: 0px;
}
.tieude-spmoi h2::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0 23px 16px;
    border-color: transparent transparent transparent #ff7600;
    position: absolute;
    right: -16px;
    top: 0px;
}
.cten-spmoi {
  width: 100%;
  height: 1px;
  background-color: #ff7600;
  position: relative;
}
/* PHONG KHACH */
.cpn-rom {
  /* height: 100vh; */
  background-color: #f3f3f3;
}
.tieude-phongkhach {
  /* position: relative; */
  /* background-color: aqua; */
  /* height: 10vh; */
  margin-bottom: 1rem;
}
.tieude-phongkhach h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 5px 12px 5px 20px;
    position: relative;
    display: inline-block;
    letter-spacing: normal;
    background: #ff7600;
    text-align: center;
}
.tieude-phongkhach h2 a {
  color: #ffffff;
}
.tieude-phongkhach h2 a:hover {
  text-decoration: none;
}
.tieude-phongkhach h2::after {
  content: '';
    position: absolute;
    top: 0;
    width: 0;
    right: -35px;
    height: 0;
    border-style: solid;
    border-width: 45px 0 0 36px;
    border-color: transparent transparent transparent #ff7600;
}
.main-pkhach {
  height: 90vh;
}
.main-left-pk {
  /* background-color: blue; */
  background-color: #ffffff;
  margin-bottom: 1rem;
}
.main-left-pk>ul{
  height: 50%;
  /* background-color: #ff0000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
.main-left-pk>ul>li {
  list-style: none;
  /* background-color: #ccc; */
  flex-grow: 1;
}
.main-left-pk>ul>li>a {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  transition: color 0.3s;
}
.main-left-pk>ul>li>a:hover {
  text-decoration: none;
  color: #ff7600;
  font-weight: 500;
}
.main-left-pk>div {
  overflow: hidden;
  width: 100%;
  height: 40%;
  margin-top: 1rem;
}
.main-left-pk>div>img  {
  width: 100%;
  height: 100%;
  transition: transform 1s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(80%);
}
.main-left-pk img:hover {
  filter: brightness(100%);
  transform: scale(1.3);
}
/* MAIN RIGHT */
.main-right-pk {
  /* background-color: beige; */
  /* margin: 0; */
  /* padding: 0; */
  margin-bottom: 1rem;
}
.main-right-pk .list-sp-pk {
  height: 50%;
  width: 100%;
  /* background-color: aqua; */
  margin-left: 1rem;
}
.main-right-pk .list-sp-pk >div {
  /* border: 1px solid; */
}
.post-slide-pk {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
.post-slide-pk .price span {
  font-size: 0.8rem;
}
.post-slide-pk .post-title a {
  font-size: 0.8rem;
}
/* REWIEW SHOP */
#rewiew_shop{
	/* background-color: aqua; */
	/* height: 60vh; */
}
.rewiew_shop_main {
	/* border: 1px solid; */
	/* height: 60vh; */
}
.rewiew_shop_main_left {
	/* background-color: burlywood; */
}
.tieude_rewiew h2 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 5px 12px 5px 20px;
    position: relative;
    display: inline-block;
    /* letter-spacing: normal; */
    background: #ff7600;
    /* text-align: center; */
}
.tieude_rewiew h2 a {
	color: #fff;
}
.tieude_rewiew h2 a:hover {
	text-decoration: none;
}
.tieude_rewiew h2:after {
	content: '';
    position: absolute;
    top: 0;
    width: 0;
    right: -35px;
    height: 0;
    border-style: solid;
    border-width: 45px 0 0 36px;
    border-color: transparent transparent transparent #ff7600;
}
.gach_chan_rewiew {
	border: 1px solid #ff7600;
	margin-bottom: 1rem;
}
/* slide rewiew */
#slide-rewiew .carousel-caption {
	background: rgba(0,0,0,0.5);
	bottom: 0;
	left: 0;
	right: 0;
	height: 40%;
}
#slide-rewiew>a {
	/* background-color: aqua; */
	width: 1.5rem;
	height: 10%;
	margin-top: 20%;
	opacity: 0;
	transition: all 0.50s ease 0s;
}
#slide-rewiew:hover a{
	opacity: 1;
}
#slide-rewiew:hover .carousel-caption h3 {
	color: #ff7600;
}
.owl-prev-1:before,
.owl-next-1:before{
	content: "";
	  background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/left_s.png?1586168597368);
	  background-size: 15px;
	  background-repeat: no-repeat;
	  background-position: 6px center;
	  height: 30px;
	  width: 30px;
	  display: block;
	  background-color: #ff7600;
	  border-radius: 15px;
  }
  
  .owl-next-1:before{
	content: "";
	  background-image: url(//bizweb.dktcdn.net/100/368/970/themes/740033/assets/right_s.png?1586168597368);
	  background-size: 15px;
	  background-repeat: no-repeat;
	  background-position: 8px center;
	  height: 30px;
	  width: 30px;
	  display: block;
	  background-color: #ff7600;
	  border-radius: 15px;
  }
  .carousel-caption h3 {
	  font-size: 1.1rem;
	  transition: color 0.5s;
  }
  .carousel-caption p {
	  font-size: 0.9rem;
  }
  .btn-rewiew-shop {
	  background-color: #fff;
	  margin-top: 0.3rem;
	  height: 2rem;
	  border: 1px solid #ff7600;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  transition: background-color 0.5s;
  }
  .btn-rewiew-shop a {
	  color: #ff7600;
  }
  .btn-rewiew-shop:hover {
	  background-color: #ff7600;
  }
  .btn-rewiew-shop:hover a {
	  color: #fff;
  }
  
  .btn-rewiew-shop  {
	  color: #ff7600;
	  font-size: 1rem;
	  font-weight: 700;
  }
  .btn-rewiew-shop a:hover {
	  text-decoration: none;
  }
  .slide-tn {
	background-image: url("/img/banner-tn.jpg");
	/* background-color: #cccccc; */
	height: 48vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 2rem;
  }
  .carousel-item-slide-tn div{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  background: rgba(0,0,0,0.5);
	  height: 48vh;
	  position: relative;
  }
  .carousel-item-slide-tn p {
	  margin: 1rem;
	  text-align: center;
	  color: #ffffff;
  }
  .carousel-item-slide-tn dt {
	  color: #ffffff;
  }
  .carousel-item-slide-tn img {
	  width: 100px;
	  height: 100px;
	  border-radius: 50%;
  }
  .slide-tn .carousel-indicators {
	  position: absolute;
	  /* background-color: maroon; */
	  margin-bottom: -5px;
  }
  .slide-tn .carousel-indicators li {
	  width: 10px;
	  height: 10px;
	  border-radius: 5px;
  }
  /* KIEN THUC */
  .main-kthuc {
	  /* background-color: aqua; */
	  height: 50vh;
	  margin-bottom: 2rem;
  }
  .main-kthuc>div {
	  /* border: 1px solid; */
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .main-kthuc .card-kthuc {
	  /* background-color: brown; */
	  height: 100%;
	  width: 80%;
	  border: 1px solid orangered;
	  border-radius: 0.5rem;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  background-color: #ccc;
	  -moz-box-shadow: 3px 3px #666;
	  -webkit-box-shadow: 3px 3px #666;
	  box-shadow: inset 10px 10px 5px #666, 10px 10px 5px #666;
  }
  .main-kthuc .card-kthuc>div {
	  width: 90%;
	  height: 90%;
  }
  .main-kthuc .card-kthuc>div>div {
	  /* background-color: peru; */
	  height: 55%;
  }

  .main-kthuc .card-kthuc img {
	  width: 100%;
	  height: 45%;
	  /* margin-top: 1rem; */
  }
  .main-kthuc .card-kthuc a {
	  font-size: 1rem;
	  color: black;
	  font-weight: 700;
	  text-align: center;
	  transition: color 0.3s;
  }
 
  .main-kthuc .card-kthuc p {
	  font-size: 0.8rem;
  }
  .card-kthuc:hover a {
	  text-decoration: none;
	  color: #ff7600;
  }
  /* FOODTER */
  .main-foodter {
	  margin-top: 2rem;
	  /* height: 80vh; */
	  background-color: aqua;
  }
  .main-top-fter {
	  height: 40vh;
	  background-color:  #101010;
  }
  .main-top-fter>div {
	  height: inherit;
	  /* border: 1px solid; */
	  display: flex;
	  flex-direction: column;
	  /* align-items: center; */
	  justify-content: center;
  }
  .main-top-fter>div>h3 {
	  font-size: 1.3rem;
	  color: #ffffff;
	  font-weight: 700;
	  margin-left: 2rem;
  }
  .main-top-fter>div>ul {
	  /* background-color: lightcoral; */
	  height: 60%;
	  margin-top: 1rem;
	  display: flex;
	  flex-direction: column;
  }
  .main-top-fter>div>ul>li {
	  list-style: none;
	  flex-grow: 1;
  }
  .main-top-fter>div>ul>li>a {
	  color: #ffffff;
	  transition: color 0.3s ;
  }
  .main-top-fter>div>ul>li>a:hover {
	  color: #ff0000;
	  text-decoration: none;
  }
  .main-top-fter>div>ul>li>a>i {
	  margin-right: 1rem;
  }
  .main-botdom-fter {
	  height: 50vh;
	  background-color: #f3f3f3;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
  }
  .main-botdom-fter>img {
	  width: 200px;
	  /* background-color: #ff7600; */
  }
  .main-botdom-fter>p {
	  margin: 1rem 5rem 1rem 5rem;
	  text-align: center;
	  font-size: 1rem;
	  font-weight: 500;
  }
  .icon-mxh {
	  width: 50%;
	  height: 4rem;
	  /* background-color: burlywood; */
	  border-top: 1px solid #c3c3c3;
	  border-bottom:  1px solid #c3c3c3;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .icon-mxh>a {
	margin: 1rem;
  }
 
  .icon-visa {
	width: 50%;
	height: 4rem;
	margin-top: 1rem;
	/* background-color: blueviolet; */
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .icon-visa>a {
	  margin: 1rem;
  }